.menu {
  display: flex;
  flex-direction: column;
  font-size: larger;
  gap: 16px;
}
.menuItem {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #d4d4d4;
  padding: 6px 4px;
  border-radius: 6px;
  text-decoration: none;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:hover {
    color: #f0f9ff;
    background-color: #262626;
  }
}
.container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  min-height: 80vh;
  font-weight: 700;
  gap: 20px;
  min-width: 15rem;
}
